.navbar {
  background-color: white;
  height: 60px;
}

.nav-link {
  text-decoration: none;
  color: #69859D;
}

.navbar-brand {
  color: #495D6D;
}

#logo {
  position: absolute;
  top: 0;
  left: 15px;
}

.presentation-card {
  padding: 60px 25px 60px;
  margin-bottom: 15px;
  background-color:  #eef8ff;
  border-radius: 20px;
}

.caa-card {
  padding: 60px 25px 60px;
  margin-bottom: 15px;
  background-color: #FFFFEF;
  border-radius: 20px;
}

.infos-card {
  padding: 60px 25px 60px;
  margin-bottom: 15px;
  background-color: #E1E6EB;
  border-radius: 20px;
}

.formation-card {
  padding: 60px 25px 60px;
  margin-bottom: 15px;
  background-color: #eef8ff;
  border-radius: 20px;
}

.contact-card {
  padding: 60px 25px 30px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: #FFFFEF;
}

#img-circle {
  border-radius: 50%;
  width: 120px;
}

p, h1, h2, li {
  font-family: Helvetica;
}
.top {
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 100px;
}
