.navbar {
  background-color: white;
  height: 60px;
}

.nav-link {
  text-decoration: none;
  color: #69859D;
}

.navbar-brand {
  color: #69859D;
}

#logo {
  position: absolute;
  top: 0;
  left: 15px;
}

.presentation-card {
  padding: 60px 25px;
}


#img-circle {
  border-radius: 50%;
  width: 120px;
}

p, h1, h2, li {
  font-family: Helvetica;
}
.top {
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 100px;
}
